coursera/machine-learning-stanford/week2/ex1/token.mat
coursera/machine-learning-stanford/week3/ex2/token.mat
coursera/machine-learning-stanford/week4/ex3/token.mat
coursera/machine-learning-stanford/week5/ex4/token.mat
